%h2 New Question

= form_with model: @question do |f|
  %div
    = f.label :title
  %div
    = f.text_field :title
  %div
    = f.label :description
  %div
    = f.text_area :description
  %div
    = f.submit 'Create'