%h2
  = @question.title

%p
  = @question.description

%h3 Answers

- if @answers.count > 0
  %ul
    - @answers.each do |answer|
      %li
        = answer.content
- else
  %p= t('answers.none')

%p= link_to t('questions.new'), new_question_answer_path(@question)