!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CodingChallengeQAndA
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application"
  %body
    %h1
      = link_to 'Questions', questions_path

    %p{class: "notice"}= notice
    %p{class: "alert"}= alert

    - if user_signed_in?
      = button_to "Sign out", destroy_user_session_path, method: :delete

    = yield
